/*footer„ÅÆCSS*/
footer {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 50%;
    background-color: rgb(0,171,174);
    color:white;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}
.reference {
    margin-top: 0.5rem;
    margin-left: 10%;
}

footer div ul li{
    text-indent: 2rem;
    margin-left: 10%;
}
