@import url(./template.css);

.dashboard-menu,
.login_info {
    width: 60%;
    margin: 0 auto;
    border: 1px solid;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: white;
    opacity: 0.8;
}

.dashboard-menu a span:hover{
    text-decoration: underline;
    color: blue;
}
