@import url(./template.css);
/*main_navのCSS*/
.navbar {
    width: 100%;
    height: 5rem;
    background-color: rgb(0, 171, 174);
}
.navcontents {
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    color: white;
    position: relative;
}

.navcontents h2 {
    position: absolute;
    top: 0.6rem;
    left: 0;
    width: 30%;
    padding: 0.4rem 0 0 2rem;
    font-size: 1.5rem;
    margin: auto 0;
}

.Itempagelinks {
    position: absolute;
    top: 0;
    left: 14rem;
    margin: auto 0;
    padding: 0;
    color: white;
    border: none;
}

.Itempagelinks a {
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
    scroll-behavior: smooth;
    margin: auto 0;
    color: white;
    border: none;
}
.profile_logout_links:hover{
    text-decoration: underline;
    color: blue;
}
.Itempagelinks a:hover,.profile_logout_links a:hover,.profile_logout_links form:hover {
    text-decoration: underline;
    color: blue;
}

.users_selectbox{
    position: absolute;
    top: 0.2rem;
    right: 3rem;
    width: 11rem;
    margin: 0.5rem 0 1rem 0;
    padding: 0;
    border-radius: 0.375rem;
}

.profile_logout_links{
    position: absolute;
    top: 1rem;
    right: 15rem;
    padding:auto 1rem;
    margin: auto 0;
    display: flex;
    color: white;
    border: none;
}
.profile_logout_links a,.profile_logout_links form{
    display: block;
    font-size: 1.2rem;
    margin:auto 1rem;
    color: white;
    border: none;
}

.profile_logout_links:hover{
    text-decoration: underline;
    color: blue;
}

.profile_logout_links a:hover,.profile_logout_links form:hover{
    text-decoration: underline;
    color: blue;
}

.profile_logout_links form button:hover{
    text-decoration: underline;
    color: blue;
}
/*home_navのCSS*/

.homenavbar {
    width: 100%;
    height: 4rem;
    background-color: rgb(0, 171, 174);
}
.homenavcontents {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    color: white;
    position: relative;
}

.homenavcontents h2 {
    position: absolute;
    top: 0.7rem;
    left: -6rem;
    width: 30%;
    padding: 0.4rem 0 0 0;
    font-size: 1.3rem;
    margin: auto 0;
}

.home_users_selectbox{
    position: absolute;
    top: 0.2rem;
    right: 3rem;
    max-width: 11rem;
    margin: 0.5rem 1rem 1rem 0;
    padding: 0;
    border-radius: 0.375rem;
}
.pagelinks {
    position: absolute;
    top: 0.2rem;
    right: 16rem;
    font-size: 1.5rem;
    margin: auto 0;
    padding: 0;
    color: white;
    border: none;
}

.pagelinks a {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    scroll-behavior: smooth;
    margin: auto 0;
    color: white;
    border: none;
}
.pagelinks a:hover {
    text-decoration: underline;
    color: blue;
}


/*レスポンシブナビゲーション*/

.responsive_navbar {
    float: right;
    margin: auto 7rem;
    padding-top: 2rem;
}

.dropdown-menu li{
    text-align: left;
    color: blue;
    font-weight: bold;
    padding: 0;
}

.dropdown-menu li a:hover {
    color: red;
    text-decoration: underline;
}
