@import url(./home.css);

.form_frame{
    margin: 0 auto;
    padding:auto;
    width: 60%;
    border: 1px solid rgb(0, 171, 174);
    border-radius: 0.5rem;
    position: relative;
    background-color: white;
    opacity: 0.8;
}

.form_top{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
    margin: auto;
    background-color: azure;
    border: 1px solid rgb(0, 171, 174);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

form.register_form{
    width: 50%;
    margin: 3rem auto 1rem;
    padding-right: 3rem;

}

.name_part{
    display: flex;
    margin-top: 3.5rem;
}


.email_part{
    display: flex;
    margin-top: 1rem;
    text-indent: -3.7rem;
}
.password_part{
    display: flex;
    margin-top: 1rem;
    text-indent: -1.5rem;
}
.password_confirmation_part{
    display: flex;
    margin-top: 1rem;
    text-indent: -5.5rem;
}
.name_part p,.email_part p,.password_part p,.password_confirmation_part p{
    margin: auto 0;
    padding-right: 1.5rem;
    text-align: right;
}

.name_input,.email_input,.password_input{
    width: 200%;
}

.password_confirmation_input{
    width: 200%;
}

.Register.btn{
    margin-top: 1.5rem;
    margin-left: 4.2rem;
    padding:1rem;
}

.submit_btn_part{
    display: flex;
    width: 100%;
    height: 4rem;
}

.forgetpassword{
    padding: auto 1rem;
    margin: 2rem 1rem 1rem 1rem;
    width: 100%;
}
