@import url(./navigation.css);
@import url(./footer.css);

/* app.blade.css全体のCSS */
body{
    background: url(../images/products_warehouse.png) no-repeat center center/cover;
    z-index: -10;
}

.outerwrap {
    width: 100%;
    height: 100%;
    margin:auto 0;
    padding: 1rem;
}
.innerwrap {
    margin: 0 auto;
    padding-top: 15rem;
    width: 100%;
    opacity: 0.9;
}

/*商品のテーブルに関するCSS*/

.index_table{
    margin-top: 2rem;
    opacity: 0.8;
    overflow: hidden;
}

.categories_dropdown{
    margin-left: 6rem;
    margin-top: 4rem;
    background-color: black;
    opacity: 1.0;
    color: white;
    border-radius: 0.5rem;
}

.col_id{
    text-align: center;
    padding: auto ;
    width: 5%;
}
.col_name{
    width: 20%;
}
.col_category{
    text-align: center;
    padding: auto ;
    width: 10%;
}
.col_detail{
    width: 50%;
}
.col_button{
    width: 15%;
}

.btn_part{
    display:flex;
    justify-content: space-evenly;
}
.btn_part a,.btn_part form{
    display: block;
}

@media (min-width: 1024px) {
    .innerwrap {
        padding: 1.5rem;
    }
}

.register_form{
    margin-top: 3rem;
}

.FormField {
    margin: 2rem 2rem 0 2rem;
    width: 100%;
}
.post_success {
    width: 100%;
    margin: 1rem;
}
.post_success p {
    font-size: 200%;
    color: blue;
    font-weight: 900;
}

/*ダッシュボード(１次ログイン後の画面)に関するCSS*/
.loginOrnotlogin{
    background-color: white;
    opacity: 0.8;
}

/*was.blade.php固有のCSS*/
.introduce {
    /*※セレクタとしてx-slotやslotは書かない*/
    color: red;
    font-size: 150%;
    font-weight: bolder;
    text-align: left;
    margin: 2rem 0 2rem 0;
}

/*管理者用ページのCSS*/

.opinion_index {
    margin: 0 auto;
    padding: 1rem auto;
    background-color: white;
    opacity: 0.9;
}

/* custom_errors_message.blade.php用のCSS */
.message_statement{
    text-align: center;
    margin: 10rem auto;
    padding: auto;
    color: red;
    font-weight: bolder;
    font-size: 2rem;
}

/* index_items.blade.phpに関するCSS */
.showeachlink:hover{
    text-decoration: underline;
    color: blue;
}

/* 商品編集画面のCSS */
.item_edit_area{
    width: 130%;
    margin-right: 5%;
}

.categories_table_area{
    width: 20%;
    margin-top: 10%;
}

.edit_part.p-4.sm\:p-8.bg-white.shadow.sm\:rounded-lg.flex {
    width: 100%;
}
